/*
	_content.css
*/


.parag-gray{
	p{
		color: $color-gray-1;
	}
}

//search nav
.search-nav-content{
	position: relative;
	form{
		.search-input{
			width: 100%;
			height: 34px;
			margin-left: auto;
		}
		input{
			border: 1px solid $color-1;
			border-radius: 15px;
			background-color: rgba(white, 0.3);
			height: 100%;
			width: 100%;
			color: $color-2;
			padding: 0 60px;
		}
	}
	button{		
    color: $color-1;
    padding: 5px 10px;
    position: absolute;
    font-size: 20px;
    top: 0;
    left: 15px;
    //right: 0;
    height: 100%;
    border: 0;
    background-color: transparent;
	}
}

