/* 
		_footer.scss
*/

/*
										---FOOTER---
*/



#footer{
	position: relative;
	color: white;
	min-height: 150px;
	line-height: 170%;
	background-repeat: no-repeat;
	background-position-y: center;
	background-size: cover;
	background-image: url("../img/bg/bg-footer.jpg");
}
.phone-call{
	img{
		width: 22px;
	}
}
.envelope{
	img{
		width: 23px;
	}
}
.footer-menu{
	@extend .hover-underline;
	h4{
		transition: .3s ease;
	}
	&:hover{
		h4{
			color: lighten($color-1, 35%);
		}
	}
	li{
		margin-left: 5px;
		margin-right: 5px;
	}
	a{
		font-weight: 400;
		transition: all 0.2s ease;
		display: block;
		&:hover{
			font-weight: 500;
			//color: lighten($color-1, 50%);
		}
	}
}
.footer-socicons{
	li{
		text-align: center;
		display: inline-block;
		margin-left: 3px;
		margin-right: 3px;
	}
	a{
		border: 1px solid $color-1;
		border-radius: 50%;
		transition: 0.3s ease;
		padding: ((30-18)/4)+px 0;
		width: 30px;
		background-color: white;
		color: $color-1;
		height: 30px;
		display: block;
		font-size: 18px;
		&:hover{
			border-color: lighten($color-1,35%);
			background-color: lighten($color-1,35%);
		}
		i{
			vertical-align: baseline;
		}
		.fa-paper-plane{
			font-size: 16px;
			margin-left: -2px;
		}
	}
}
.footer-dev{
	font-size: 0.88em;
}
.footer-contacts{
	p{
		@extend .float-right-md;
	}
}